/* colors */

* {
  al:   #00000000;
  bg:   #14161bFF;
  bga:  #201e27FF;
  fg:   #C4C7C5FF;
  ac:   #f8f8f8FF;
  se:   #f8f8f8FF;
}
element-text, element-icon {
	background-color: inherit;
        text-color: inherit;
        horizontal-align: 0.5;
}
